* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 40px 30px;
}

.section__one-hero__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__sweet-p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.hero__feel-h2 {
    font-family: sans-serif;
    width: 690px;
    font-size: 60px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 500;
}

.hero__feel-h2 span {
    color: #D64474;
}

.hero__some-p {
    font-size: 18px;
    width: 530px;
    line-height: 1.8rem;
    font-family: sans-serif;
    opacity: 60%;
    margin-top: 1rem;
}

.hero__buy-btn{
    width: 165px;
    height: 40px;
    margin-top: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #D23166;
    color: white;
    font-size: 16px;
}

.hero__buy-btn:hover {
    background-color: white;
    color: #D23166;
}

.section__two-hero__flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.section__two-card {
    width: 280px;
    height: 230px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 
        0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.1);
   
}

.section__two-card__img{
    text-align: center;
    padding-top: 3rem;
}

.section__two-card h5 {
    text-align: center;
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 16px;
}

.section__two-card p {
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 0;
    font-family: sans-serif;
    font-size: 14px;
    width: 220px;
    max-width: 100%;
    margin: 0 auto;
}

main {
    background-color: #FBF0F4;
}

.section__three-flex {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-between;
}

.section__three-sugar h2 {
    font-family: sans-serif;
    font-size: 45px;
    width: 300px;
}

.section__three-sugar p {
    font-size: 16px;
    line-height: 24px;
    font-family: sans-serif;
    width: 445px;
    opacity: 60%;
    margin-top: 1rem;
}

.section__three-btn {
    width: 165px;
    height: 40px;
    margin-top: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #D23166;
    color: white;
    font-size: 16px;
}

.section__three-btn:hover {
    background-color: white;
    color: #D23166;
}

.section__four-hero {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.section__four-nav {
    margin-top: 4rem;
}

.section__four-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.section__four-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__four-price h3 {
    font-family: sans-serif;
    font-size: 25px;
}

.section__four-price p {
    font-family: sans-serif;
    font-size: 16px;
    width: 480px;
    margin-top: 1rem;
    line-height: 1.4rem;
    opacity: 60%;
}

.section__four-price h5 {
    margin-top: 1rem;
    font-size: 25px;
    font-family: sans-serif;
}

.section__four-price h5 span {
    font-size: 18px;
    font-weight: 600;
    opacity: 60%;
    text-decoration: line-through;
}

.section__four-btn {
    width: 165px;
    height: 40px;
    margin-top: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #D23166;
    color: white;
    font-size: 16px;
}

.section__four-btn:hover {
    background-color: white;
    color: #D23166;
}